<template>
  <div class="dance">
    <div class="dance__text">
      <h1>API</h1>
    </div>
    <div class="dance__img">
      <img src="@/assets/img/01.gif" alt="gif" />
    </div>
  </div>
</template>
<script>
export default {
  
}
</script>
<style lang="scss">
.dance__text{
  text-align: center;
  margin: 0px 0px 20px 0px;
}


</style>
