<template>
  <div class="login">
    <el-card class="login__card">
      <h2>Вход</h2>
      <el-form ref="form" :model="form" :rules="rules">
        <el-form-item label="Email" prop="email">
          <el-input  type="email" v-model.trim="form.email"></el-input>
        </el-form-item>
        <el-form-item label="Пароль">
          <el-input type="password" v-model.trim="form.password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">Войти</el-button>
        </el-form-item>
      </el-form>
      <el-link>
        <router-link to="/register">Регистрация</router-link>
      </el-link>
    </el-card>
  </div>
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      form: {
        email: null,
        password: null,
      },
      rules: {
        email: [
          {
            required: true,
            message: "Это поле обязательно для заполнения",
            trigger: "blur",
          },
          {
            type: "email",
            message: "Поле email должно содержать корректный email-адрес",
            trigger: ["blur"],
          },
        ],
      },
    };
  },
  methods: {
    validate() {
      return new Promise((resolve, reject) => {
        this.$refs["form"].validate((valid) => {
          if (valid) {
            resolve();
          } else {
            reject();
          }
        });
      });
    },
    async onSubmit() {
      try {
        await this.validate();
      } catch (e) {
        this.$notify.error(
          "Возникла ошибка валидации, пожалуйста проверьте правильность заполнения полей формы"
        );
        throw e;
      }
      const formData = {
        email: this.form.email,
        password: this.form.password,
      };
      console.log(formData);
      try {
        await this.$store.dispatch("login", formData);
        this.$router.push("/content");
      } catch (e) {
        this.$notify.error("Возникла ошибка, попробуйте еще раз");
      }
    },
  },
};
</script>

<style lang="scss"></style>
