<template>
  <div class="register">
    <el-card>
      <h2 class="text-center">Регистрация</h2>
      <el-form ref="form" :model="form" :rules="rules" @submit.prevent="onSubmit">
        <el-form-item label="Email" prop="email">
          <el-input type="email" name="email" v-model.trim="form.email"></el-input>
        </el-form-item>
        <el-form-item label="Пароль" prop="password">
          <el-input type="password" v-model.trim="form.password"></el-input>
        </el-form-item>
        <el-form-item label="Повторите пароль" prop="password2">
          <el-input
            type="password"
            v-model.trim="form.password2"
          ></el-input>
        </el-form-item>
        <el-form-item>
          <div>
            <el-checkbox v-model="form.accept"
              >Я согласен получать сообщения по email</el-checkbox
            >
          </div>
          <el-button
            type="primary"
            @click="onSubmit"
            :disabled="!form.accept"
          >
            Зарегистрироваться
          </el-button>
        </el-form-item>
      </el-form>
        <el-link>
            <router-link to="/login">Вход</router-link>
        </el-link>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'registr',
  data() {
    return {
      form: {
        email: null,
        password: null,
        password2: null,
        accept:false
      },
      rules: {
        email: [
          {
            required: true,
            message: "Это поле обязательно для заполнения",
            trigger: "blur",
          },
          {
            type: "email",
            message: "Поле email должно содержать корректный email-адрес",
            trigger: ["blur"],
          },
        ],
        password: [
          {
            required: true,
            min: 4,
            max: 10,
            message:
              "Длина пароля должна быть не менее 4 символов и не более 10",
            trigger: "change",
          },
          {
            validator: (rule, value, callback) => {
              if (value === "") {
                callback(new Error("Введите пароль"));
              } else {
                if (this.form.password2 !== "") {
                  this.$refs.form
                    ? this.$refs.form.validateField("password2")
                    : null;
                }
                callback();
              }
            },
            trigger: "blur",
          },
        ],
        password2: [
          {
            required: true,
            validator: (rule, value, callback) => {
              if (value === "") {
                callback(new Error("Введите пароль"));
              } else if (value !== this.form.password) {
                callback(
                  new Error("Повторный пароль не совпадает с оригинальным")
                );
              } else {
                callback();
              }
            },
            trigger: "blur",
          },
        ],
      },
    };
  },
  async mounted() {
    if (this.cpEmail) {
      this.form.email = this.cpEmail;
    }
  },
  methods: {
    validate() {
      return new Promise((resolve, reject) => {
        this.$refs["form"].validate((valid) => {
          if (valid) {
            resolve();
          } else {
            reject();
          }
        });
      });
    },
    async onSubmit() {
      try {
        await this.validate();
      } catch (e) {
        this.$notify.error(
          "Возникла ошибка валидации, пожалуйста проверьте правильность заполнения полей формы"
        );
        throw e;
      }

      const formData = {
          email: this.form.email,
          password: this.form.password
      }
      try{
        await this.$store.dispatch('register', formData)
        this.$router.push('/login')
      }catch(e){
        this.$notify.error("Возникла ошибка, попробуйте еще раз");
      }
      console.log(formData)
    },
  },
};
</script>

<style lang="scss"></style>
