// @font-face{
//   font-family: 'Roboto';
//   src: url('../fonts/Roboto-regular.ttf') format('truetype');
// }
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
//font-family: 'Quicksand', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
//font-family: 'Montserrat', sans-serif;
