// Font
$mainFont: "Montserrat", sans-serif;

// Size
$mainFontColor: var(--DarkGray);
$mainFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 24px;


$desktopWidth: 1400;
$mwc: 1180;
$smDesktopWidth: $mwc + 12;
$tableWidth: 992.98;
$smTableWidth: 767.98;
$phoneWidth: 479.98;
$smPhoneWidth: 320px;
$fontFamily: "Quicksand", sans-serif;
$fontSize: 14px;

:root {
  // margin: 0px 54 / $mwc * 100vh 0px 0px;
  --DarkBlue: rgba(12%, 13%, 25%, 1);
  --DarkGray:rgba(31, 33, 64, 0.75);
  --smDarkGrey:rgba(31, 33, 64, 0.5);
  --smGrey:rgba(31, 33, 64, 0.25);
  --Grey:rgba(31, 33, 64, 0.05);
  --Purple:#BC9CFF;
  --Green:#6fcf97;
}
