<template>
  <DefaultLayout>
    <router-view />
  </DefaultLayout>
</template>


<script>
import DefaultLayout from "./layouts/DefaultLayout";
export default {
  data() {
    return {
    };
  },
  components:{
    DefaultLayout
  }
};
</script>
<style lang="scss">
</style>
