<template>
  <div class="default-layout">
    <el-menu
      mode="horizontal"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
      :router="true"
    >
      <el-menu-item  index="/login">Вход</el-menu-item>
      <el-submenu  index="/user">
        <template slot="title"></template>
        <el-menu-item @click="logout">Выход</el-menu-item>
      </el-submenu>
    </el-menu>
    <div class="content">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
    data(){
        return{
          vgUser: null,//v-if="vgUser" v-else //todo получение дим данных для корректного отображения элементов menu
        }
    },
    methods:{
      async logout(){
        await this.$store.dispatch('logout')
        this.$router.push('/')
        console.log(this.logout)
      }
    }
}
</script>

<style lang="scss">
.default-layout{
  height: 100vh;
  background-color: #666666;
  overflow-y: auto;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
</style>
